:root{
    --whiteColor:#FFFFFF;
    --redColor:#D72638;
    --purpleColor:#3A244A;
    
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: auto;
    width: 100vw;
    background-color:white;


}


.main{
    display: flex;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
  
}

.left{
    width: 50%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0%; */
}
.right{
    width: 50%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.bgimg1{
    width: 70rem;
    height: 70rem;
}


.container1 {
    background-color: var(--whiteColor);
    padding: 15rem 3.5rem;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 35rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    border: 1px solid #ddd;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0rem 2rem 0rem;
}

.h1 {
    text-align: center;
    color: var(--purpleColor);
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1>span{
    color: var(--redColor);
}

.h2 {
    text-align: center;
    color: var(--purpleColor);
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.h2>span{
    color: var(--redColor);
    text-decoration: underline;
}


.form-group {
    margin-bottom: 20px;
    position: relative;
}

/* label {
    display: block;
    margin-bottom: 5px;
    color: #555;
} */

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 0px 10px 15px;
    /* border: 1px solid #ddd; */
    border-radius: 3px;
    box-sizing: border-box;
    border-bottom: 2px solid #ddd;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    font-size: 1.3rem;
}
input::placeholder{
    color: #ddd;
    font-weight: 500;
}


/* #password {
    position: relative;
} */

.hideimg{
    width: 2rem;
}

.password-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    cursor: pointer;
}
.password-icon1 {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    cursor: pointer;
}


.contact-mode {
    position: relative;
}



/* #contact-mode{
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #ddd;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    
} */

.contact-mode .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e51515;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.contact-mode .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.contact-mode .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.contact-mode:hover .dropdown-content {
    display: block;
}

.button {
    background-color: var(--purpleColor);
    color: var(--whiteColor);
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 700;

}
.button1 {
    background-color: var(--whiteColor);
    color: var(--purpleColor);
    padding: 12px 20px;
    border: 3px solid var(--purpleColor);
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 700;

}

.sign-in {
    text-align: center;
    margin-top: 10px;
}

.sign-in a {
    color: #333;
    text-decoration: none;
}

.sign-in a:hover {
    text-decoration: underline;
}




/* forget pass css */

.container2 {
    background-color: var(--whiteColor);
    padding: 15rem 3.5rem;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 35rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    border: 1px solid #ddd;
}









/* media qury------------------------------------ */

@media screen and (max-width: 1300px) {

    body {
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100vw;
    
    
    }
    


    .main{
        /* flex-direction: column; */
        height: auto;
        padding: 1rem 0rem;
    }

    .left{
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
      
        /* padding: 0%; */
    }

    .bgimg1 {
        width: 100%;
        height: 35rem;
    }

    .right {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container1{
        padding: 1.5rem 1.5rem;
        height: fit-content;
    }

    .form-group {
        margin-bottom: 30px;
    }
    

    .h1 {
        text-align: center;
        color: var(--purpleColor);
        font-size: 1.8rem;
        font-weight: 900;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    }
}













/* media qury------------------------------------ */

@media screen and (max-width: 750px) {

    body {
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100vw;
    
    
    }
    


    .main{
        flex-direction: column;
        height: auto;
        padding: 1rem 0rem;
    }

    .left{
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
      
        /* padding: 0%; */
    }

    .bgimg1 {
        width: 100%;
        height: 20rem;
    }

    .right {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container1{
        padding: 1.5rem 1.5rem;
        height: fit-content;
    }

    .form-group {
        margin-bottom: 30px;
    }
    

    .h1 {
        text-align: center;
        color: var(--purpleColor);
        font-size: 1.8rem;
        font-weight: 900;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    }
}